[Unit]
Description=Simple dynamic DNS service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/mpddns_server

[Install]
WantedBy=multi-user.target

